/* STYLE PORTFOLIO */


/* NEED BACKGROUND COLOR = GRAY */
body{
    
    background-color: gray;
}

/* Style navbar-brand */
.navbar-brand{
    background-color: teal;
    /* trying to make the navbar white */
    color: white;
    padding: 25px;
}

/* Style navbar */
.navbar{
    background-color: white;
    color: gray;
    border-bottom: solid 1px gray;
    padding: 0!important;
}

/* Style nav-item */
.nav-item a {
    color: gray;
}
.nav-item a:hover {
    color: teal;
}

.container {
    background-color: white;
    padding: 10px;
}

.title {
    background-color: teal;
    padding: 10px 0;
    left: 0;
    position: absolute;
    bottom: 30px;
    color: white;
    width: 100%;
}
  
div.container {
    text-align: center;
    padding: 10px 20px;
}
.form-group {
    text-align: left;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

footer{
    background-color: white;
    border-top: solid 6px teal;
    height: 50px;
    text-align: center;
}

#sticky-footer {
    flex-shrink: none;
    background-color: white;
    border-top: solid 6px teal;
    height: 50px;
    text-align: center;
  }
