/* STYLE PORTFOLIO */


/* NEED BACKGROUND COLOR = GRAY */
body{
    
    background-color: gray;
    color: gray;
    text-align: center;
}

/* Style navbar-brand */
.navbar-brand{
    background-color:powderblue;
    /* trying to make the navbar white */
    color: gray;
    padding: 25px;
}

/* Style navbar */
.navbar{
    background-color: white;
    color: gray;
    border-bottom: solid 1px gray;
    padding: 0!important;
}

/* Style nav-item */
.nav-item a, 
.btn-link a{
    color: gray !important;
}
.nav-item a:hover,
.btn-link a:hover {
    color: powderblue !important;
}

.container {
    background-color: white;
    padding: 10px;
    align-content: center;
    justify-self: center;
    color: gray;
}

.title {
    background-color:powderblue;
    padding: 10px 0;
    left: 0;
    position: absolute;
    bottom: 30px;
    color: gray;
    width: 100%;
}
  
div.container {
    text-align: center;
    padding: 10px 20px;
    align-content: center;
    justify-self: center;
    color:gray
}
.form-group {
    text-align: left;
}

.card{
    background-color: powderblue;
    padding: 50px;
    text-align: center;
    color: gray;
    margin: 50px;
    align-self: center;
    justify-self: center;

}
.about-me{
    background-color: white;
}

.card-horizontal {
    display: flex;
    flex: 1 auto;
  }

footer{
    background-color: white;
    color: gray;
    border-top: solid 6px powderblue;
    height: 50px;
    text-align: center;
}

#sticky-footer {
    flex-shrink: none;
    background-color: white;
    border-top: solid 6px powderblue;
    height: 20px;
    text-align: center;
  }
